<small class="<%= message.user == current_user ? 'text-dark' : 'text-white' %>">
  <strong><%= message.user.username %></strong>
  <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
</small>
<p><%= message.content %></p> 
