<div class="message <%= message.user == current_user ? 'message-user' : 'message-other' %>" data-user-id="<%= message.user.id %>">
  <div class="bubble <%= message.user == current_user ? 'bubble-user' : 'bubble-other' %>">
    <p><%= message.content %></p>
  </div>
</div>
