<small class="<%= message.user == current_user ? 'text-dark' : 'text-white' %>">
  <%#= message.user.username %>
  <%#= message.created_at.strftime("%a %b %e at %l:%M %p") %>
</small>
<p><%= message.content %></p>
