// Specific CSS for your home-page

body {
  background-color: #1A1524;
  font-family: 'Roboto';
  color: white;
}

h1, h2, p {
  color: white;
}

.profile-info {
  margin-top: 20px;
}

#content {
  margin-top: 60px;
}

.dropdown-menu {
  background-color: black;
}
