// Specific CSS for your home-page

#content {
  padding-top: 20px;
  overflow: scroll;
}

body {
  background-color: #1A1524;
  font-family: 'Roboto';
  color: white;
}

h1, h2, p {
  color: white;
}

.profile-info {
  margin-top: 20px;
}









/* Styles par défaut */

/* Styles pour les écrans de petite taille (mobile) */
@media screen and (max-width: 767px) {
  /* Ajoutez ici les styles spécifiques aux écrans de petite taille */
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Ajoutez ici les styles spécifiques aux écrans de taille moyenne */
}

/* Styles pour les écrans de grande taille (ordinateurs de bureau) */
@media screen and (min-width: 992px) {
  /* Ajoutez ici les styles spécifiques aux écrans de grande taille */
}
