
<h1>Match Details</h1>
<% if @match %>
  <p>It's a Match !</p>
  <!-- Afficher d'autres détails du match ici -->
<% end %>

<%= simple_form_for [ @match.conversations.first, Message.new ], html: { class: 'new-message' } do |f| %>
  <%= f.input :content, label: false, input_html: { placeholder: 'Send your 1st message to your new mates!' }, required: true %>
  <%= f.hidden_field :first,value:"true"%>
  <%= submit_tag 'Send', class: 'send-button' %>
<% end %>
<br>
<p>Continue to swipe</p>
