#main-footer {
  position: relative;
  width: 100%;
  z-index: 100;
}

.footer-mobile {
  background-color: #1A1524;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.footer-mobile .conversation-icon {
  justify-content: flex-start;
}

.footer-mobile .profile-icon {
  justify-content: flex-end;
}

.footer-image img {
  width: 40px;
  display: flex;
  align-items: center;
}
