#main-footer {
  position: sticky;
  bottom: 0;
  z-index: 1030; // Bootstrap's z-index for sticky-bottom elements
}


.footer-mobile {
  background-color: #1A1524;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.footer-mobile .conversation-icon {
  justify-content: flex-start;
}

.footer-mobile .profile-icon {
  justify-content: flex-end;
}
