.games-logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.game-logo {
  margin: 0 5px;
}

.small-round-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.medium-round-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
