.navbar-lewagon {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: space-between;
  background: #1A1524;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.white-link {
  color: white;
}
