.rounded-circle {
  border-color: #FA00FF;
  border-width: 3px;
}
.rounded-circle-mini {
  border-color: #FA00FF;
  border-width: 1px;
  border-radius: 50%;
}
.img-thumbnail {
  padding: 0rem;
}
.profile-image-container {
  position: relative;
}

.camera-icon-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  cursor: pointer;
  z-index: 1;
}
.fond-camera{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  cursor: pointer;
  z-index: 1;
}
.game-logo-notlogged{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  border: thin solid;
  border-color: #33196B;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.game-logo-notlogged p{
  text-align: left;
  line-height: 0.9;
}
